<!-- index.hbs -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<header>
    <h1>Home Page</h1>
      <nav class='global'>
        <a href='/'>Home Page </a>
        <a href='/trainers'>Trainers</a>
        <a href='/members'>Members</a>
        <a href='/exercises'>Exercises</a>
        <a href='/training_sessions'>Training Sessions</a>
        <a href='/session_exercises'>Session Exercises</a>
    </nav>
</header>


<script src="./js/update_person.js"></script>